@import url("https://fonts.googleapis.com/css?family=Inter:var(--title-hero-font-weight),var(--heading-font-weight),var(--single-line-body-base-font-weight)");
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

@font-face {
  font-family: 'ThermalReceipt';
  src: url('./assets/fonts/thermal-receipt.ttf') format('truetype');
}

@font-face {
  font-family: 'LemonTuesday';
  src: url('./assets/fonts/HoneyScript-SemiBold.ttf') format('truetype');
}

html,
body {
  margin: 0px;
  height: 100%;
}

button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

a {
  text-decoration: none;
}

/* Mobile styles */
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
    padding: 10px;
  }

  h1 {
    font-size: 2.5em;
  }

  button {
    padding: 10px;
  }
}